%menu-properties {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
}
.printful-icon {
    @extend %menu-properties;
    background-image: url("https://files.startupranking.com/startup/thumb/44337_8fe8857ae50a93d3b1c0fb4d21a9b3ba5037b1ea_printful_m.png");
}