%menu-properties {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
}
.printful-icon {
    background-image: url("https://files.startupranking.com/startup/thumb/44337_8fe8857…_printful_m.png");
}